<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Admin Profile</title>
</head>
<body>

    <div class="back-home">
        <a href="index.html" class="back-btn">
          <i class="fas fa-arrow-left"></i>
          Back to Home
        </a>
    </div>

    <h1>Admin Profile</h1>

    <form method="post" action="">
        <label>Username: </label>
        <input type="text" value="Admin123"><br><br>

        <label>Email: </label>
        <input type="email" value="admin@example.com"><br><br>

        <label>Password: </label>
        <input type="password" value="password"><br><br>

        <button type="submit">Update Profile</button>
    </form>

    <script src="script.js"></script>
</body>
</html>
